<div class='container is-fluid'>
	<div class='hero-body'>
		<h2 class='title'>My Grocery Lists</h2>
		<ul>
		<% @lists.each do |list| %>
		  <li><%= link_to list.name, user_list_path(@user, list) %></li>
		<% end %>
		</ul>
	</div>

	<a class='button is-rounded is-primary' href="<%= new_user_list_path %>" >
		Create A New List
	</a>
</div>