<h1>Your Lists</h1>
<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, user_list_path(@user, list) %></li>
<% end %>
</ul>


<%= button_to "Create A New List", new_user_product_list_path(@user), method: :get %>
